.chart-card {
  margin: 20px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  font-size: 1.5rem;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 1rem;
  margin: 8px 0;
}
mat-toolbar.toolbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-title {
  margin: 0;
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
}
